body
{
    margin:0;
}

h1
{
    font-size:50px;
    margin-bottom:0px;
}

figcaption
{
    font-size:14px;
}

p
{
    font-size:20px;
}

ul
{
    font-size:19px;
    padding-left:20px;
}

table
{
    width:100%;
    border-collapse:collapse;
    font-size:18px;
}

thead
{
    text-align:left;
    font-size:20px;
    color:white;
    background-color:#20a9e5;
}

th,td
{
    width:25%;
}

td
{
    height:fit-content;
}

h2
{
    color:gray;
}

/* UTILS */

.container
{
    max-width:80%;
    margin:auto;
}

.header-img
{
    background:url('../img/pattern.png');
    background-color:#4ea0ff;
    background-size:contain;
    width:100%;
    height:150px;
}

.logo
{
    height:20%;
    width:20%;
}

.container-logo
{
    margin:0;
    padding-top:35px;
}

.signature
{
    color:gray;
    font-size:20px;
    font-style:normal;
}

.color-blue
{
    color:rgb(62, 222, 243);
}

.date
{
    font-size:13px;
    color:gray;
    margin-top:4px;
}

.main-imgs
{
    margin:0;
}

.tim1
{
    width:651px;
    height:434px;
}

.tim2
{
    width:555px;
    height:434px;
}

.column3
{
    width:50%;
}

.background-blue
{
    background-color:#b1e5f2;
}

.background-yellow
{
    background-color:#ffff00;
}

.footerimg1
{
    color:white;
    font-weight:bold;
    font-size:23px;
    padding-top:10px;
    padding-left:10px;
    background:url('../img/monitor.jpg');
    width:290px;
    height:208px;
}

.footerimg2
{
    color:white;
    font-weight:bold;
    font-size:23px;
    padding-top:10px;
    padding-left:10px;
    background:url('../img/graph.jpg');
    width:290px;
    height:208px;
    margin-top:20px;
}