body
{
    margin:0;
}

/* UTILS */

.container
{
    max-width:80%;
    margin:auto;
}

.header-img
{
    background:url('../img/pattern.png');
    background-color:#4ea0ff;
    background-size:contain;
    width:100%;
    height:150px;
}

.logo
{
    height:20%;
    width:20%;
}

.container-logo
{
    margin:0;
    padding-top:35px;
}